body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right,#0f0c29 , #302b63,#24243e);
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 5rem;
    text-align: center;
    color: lightcoral;
    margin-bottom: 2%;
}
.button{
    display: flex;
    justify-content: center;
    margin-top: -10px;
}

button{
    padding: 5px 1%;
    margin: 0% 1%;
    background-color: rgb(0, 140, 255);
    border-radius: 5%;
    transition-duration: 0.2s;
    border: none;
    border-radius: 10px;
    color: lightcyan;
    outline: none;

}
button:hover{
    background-color: rgb(231, 50, 111);
    transform: scale(1.2);
}
.cake-img{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.biscuit-img{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.icecream-img{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
img{
    width: 200px;
    height: 200px;
    margin: 2%;
    border-radius: 50%;
    box-shadow: 3px 5px 2px rgba(0,0,0,0.8);
    border: 10px solid burlywood;
    transition-duration:0.4s ;
    transition-property: initial;
}
img:hover{
    transform: scale(1.1);

}

.hide{
    visibility: hidden;
}

